.filter-sidebar {
    /* background-color:  #121212; */
    /* border-radius: 2em; */
    color: white;
    max-width: auto; /* Adjust width as per your layout */
    /*position: fixed;  This will make it stay in place while scrolling */
    top: 0; /* Adjust this value to set the starting top position */
    left: 0; /* Adjust if your sidebar is not the first element from the left */
    height:100%;
    overflow-y: auto; /* Allows the filter to be scrollable independently */
    overflow-x: auto;
    z-index: 1; /* Ensures the sidebar stays above other content */ 
    margin-top: 4vh;
   
  }

  .filter-group h2 {
    margin-bottom: 10px;
    color: white;   
    
  }
  
  .filter-group {
    margin-bottom: 20px;
    cursor: pointer;
    

  }
  
  /* Style for custom checkboxes */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.filter-sidebar .button-87 {
  font-size: 0.9em;
  max-height: 45px;
  padding:5px;
  Width:130px;
  
}

  


