@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.cart-modal-container {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Add this */
    justify-content: flex-end; /* Aligns children to the right */
    
}

.cart-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideInRight 0.5s ease-in-out;
    height: 100%;
    position: absolute; /* Position absolutely within the container */
    right: 0; /* Stick to the right */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    /* align-items: center; Center items horizontally */
    /* justify-content: center; Center items vertically */
    overflow-y: auto; /* Add vertical scroll */
    overflow-x: hidden; /* Hide horizontal scroll */
}

.close-modal {
    position: absolute;
    cursor: pointer;
    top: 1px; /* Adjust as needed */
    right: 12px;
    font-size: 1.7em;
    color: black;
    
}

.cart-modal-content.slide-out {
    animation: slideOutRight 0.5s ease-in-out forwards; /* Add 'forwards' to keep the state at the end of the animation */
}

.cart-products {
    margin-top: 2vh;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px;
    width: 100%; /* Ensure full width */
    
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
  }
  
.cart-item-details {
    display: flex;
    flex-direction: row; /* Stack item details vertically */
    justify-content: flex-start;
    margin-right: 10px; /* Space between details and price */
    gap: 2vw;
    
}



.cart-item-name {
    font-weight: bold;
    margin-bottom: 5px;
    /* Ensure name takes only the space it needs */
    flex-shrink: 1;
    min-width: 0;
   
}

.cart-item-description {
    margin-bottom: 5px;
    /* Ensure description does not push price out of alignment */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.cart-item-price {
    font-weight: bold;
    margin-left: auto; /* Pushes the price to the right */
    white-space: nowrap; /* Prevents the price from wrapping */
    
}

.cart-total {
    text-align: right;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Adjust button style as needed */
.finish-order-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
    /* Add other button styles */
}


.cart-item-image {
    max-width: 100px; /* or any size you prefer */
    max-height: 100px;
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
    border-radius: 8px;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.quantity-button {
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 10px; /* Adjust padding to ensure uniform size */
    border-radius: 5px;
    border: none;
    background-color: #4b4948;
    color: white;
    user-select: none;
    width: 30px; /* Fixed width */
    height: 30px; /* Fixed height */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    margin: 0 auto; /* Auto margins for horizontal centering */
  }
  
  .quantity-display {
    font-size: 1.2em;
    padding: 5px;
    min-width: 30px;
    text-align: center;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }


.stock-warning {
    color:red;
}
/* Simple scaling animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%); /* Start from off-screen to the right */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* End at the current position */
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0); /* End at the current position */
        opacity: 1;
    }
    to {
        transform: translateX(100%); /* Start from off-screen to the right */
        opacity: 0;
    }
}


@media (max-width: 769px) {
  

    .cart-item-image {
        align-self: center; /* Center the image within the column */
        margin-bottom: 30px; /* Add some space below the image */
        margin-right: 10px
    }

    .cart-item-details {
        display: flex;
        flex-direction: column;
        gap:0;
        
       
    }

    .cart-item-name, .cart-item-description, .cart-item-price, .quantity-control {
        width: 100%; /* Ensure each element takes the full width */
        margin-bottom: 5px; /* Add some space between elements */
    }
}