.productContainer {
  
  display: flex; 
  /* flex-wrap:wrap; */
  justify-content: center;
  align-items: center; 
  gap: 1.5em;
  /* padding-bottom: 10% */
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: white;
  gap: 0.1em;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.imageContainer {
  max-height: 25vh;
  max-width: 10vw;
  overflow: hidden; 
  position: relative;  
  /* border-radius: 2em; */

  
}


.imageContainer::before,
.imageContainer::after {
  content: '';
  position: absolute;
  background: transparent; 
  opacity: 0; /* Elements are Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Top left corner horizontal line */
.imageContainer::before {
  top: 0;
  left: 0;
  width: 20px; /* Length of the corner line */
  height: 2px; /* Thickness of the line */
  border-top: 2px solid white; /* Border for the line */
}

/* Bottom right corner horizontal line */
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px; /* Length of the corner line */
  height: 2px; /* Thickness of the line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Bottom right corner vertical line */
.bottom-right-vertical {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px; /* Thickness of the line */
  height: 20px; /* Length of the corner line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Bottom left corner horizontal line */
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px; /* Length of the corner line */
  height: 2px; /* Thickness of the line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Bottom left corner vertical line */
.bottom-left-vertical {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px; /* Thickness of the line */
  height: 20px; /* Length of the corner line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}



/* Reveal the corner lines on hover */
.imageContainer:hover::before,
.imageContainer:hover::after,
.imageContainer:hover .bottom-right,
.imageContainer:hover .bottom-right-vertical,
.imageContainer:hover .bottom-left,
.imageContainer:hover .bottom-left-vertical
 {
  opacity: 1; /* Make the lines visible on hover */
}


/* Top right corner horizontal line */
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px; /* Length of the corner line */
  height: 2px; /* Thickness of the line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Top right corner vertical line */
.top-right-vertical {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px; /* Thickness of the line */
  height: 20px; /* Length of the corner line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Top left corner horizontal line */
.top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Length of the corner line */
  height: 2px; /* Thickness of the line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;

}

/* Top left corner vertical line */
.top-left-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Thickness of the line */
  height: 20px; /* Length of the corner line */
  background: white; /* Background color for the line */
  opacity: 0; /* Transparency*/
  transition: opacity 0.3s ease-in-out;
}

/* Reveal the corner lines on hover */
.imageContainer:hover .top-right,
.imageContainer:hover .top-right-vertical,
.imageContainer:hover .top-left,
.imageContainer:hover .top-left-vertical {
  opacity: 1; /* Make the lines visible on hover */
  
}

.productImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover .productImage {
  transform: scale(1.15); /* Slight scale for a subtle effect */
  cursor: pointer;
}



.button-87 {
  margin-top: 0.3em;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #000000;
  background-image: linear-gradient(45deg, #4b4948 0%, #ffffff  51%, #aaa09e  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1em;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #000000;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

@media (max-width: 768px) { 
  .productContainer {
      flex-direction: column;
  }
  
  .product {
      margin-bottom: 2em;
  }

  .imageContainer {
      max-height: 40vh;
      max-width: 40vw;
  }

  .productImage {
      /* width: 60%; */
  }
 /* BUTTONS DIMENSIONS RESIZE */
  /* .button-87 {
      padding: 0.7em 1.5em;
      font-size: 3.5vw;
  } */
}

@media (min-width: 769px) and (max-width: 1024px) { 
  .imageContainer {
      max-height: 40vh;
      max-width: 40vw;
  }

  .productImage {
      /* width: 70%; */
  }

  /* .button-87 {
      padding: 0.6em 1.2em;
      font-size: 2.5vw;
  } */
}
