.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.no-interaction {
    pointer-events: none;
 }

.popup {
    /* Common styles for both popups */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Add other common styles here */
    position: relative;
    background-color: rgb(30, 136, 30);
    border-color: rgb(63, 165, 63);
}

.error-popup {
    /* Styles specific to error popup */
    background-color: rgb(190, 96, 96); /* Red background for error */
    color: white; /* White text for better contrast */
}

.close-button {
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(190, 96, 96); 
    width: 20px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
}